.HeroImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/herosm.jpg");
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 100%;
}

.HeroText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  padding-bottom: 50px;
  text-align: center;
}

.Header {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #1a54e6;
}

.Block {
  display: block;
}

.Button {
  background-color: #ff9f1c;
  color: #0d1216;
  font-size: 0.8rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.Button:hover {
  background-color: #1a54e6;
  color: #ffffff;
}
