.Button {
  font-size: 0.8rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

.Button:hover:active {
  background-color: #1a54e6 !important;
}

.Button:active {
  background-color: #1a54e6 !important;
}

.Button:focus {
  background-color: #1a54e6;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Light:hover {
  background-color: #1a54e6;
  color: #ffffff;
}

.Light {
  background-color: #ff9f1c;
  color: #0d1216;
}

.Dark:hover {
  background-color: #ff9f1c;
  color: #0d1216;
}

.Dark {
  background-color: #1a54e6;
  color: #ffffff;
}

.NavButton {
  font-size: 0.9rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
}

.Type {
  background-color: #1a54e6;
  color: #ffffff;
  font-size: 0.8rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

