.Owner {
    color: #1A54E6;
    margin-right: 8px;
  }
  
  .Date {
    font-weight: lighter;
    color: #0D1216;
    font-size: .7rem;
  }

  .Content {
    margin-left: 4rem;
    margin-top: 2px;
  }