.Header {
  font-size: 1.5rem;
}

.Form {
  border: none;
  border-bottom: 1px solid;
}

.FormEdit {
  border: none;
  border-bottom: 1px solid;
  width: 95%;
  margin-left: 40px;
}

@media screen and (max-width: 991px) {
  .FormEdit {
    width: 85%;
  }
}
