.Name {
    font-size: 1.25rem;
}

.Header {
    font-style: normal;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #1a54e6;
  }